
<mat-sidenav-container class="sidenav-container ">
  <mat-sidenav #drawer class="sidenav " fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar class="TopNav"></mat-toolbar>
    <mat-nav-list class="leftNav">
      <p>&nbsp;</p>
      <a mat-list-item href="Actividades"><img src="../../../assets/Icon/helmet-safety-solid.svg"  width="60" height="50"/></a>
      <p>&nbsp;</p>
      <a mat-list-item href="Usuarios"><img src="../../../assets/Icon/users-solid.svg"  width="60" height="50"/></a>
      <p>&nbsp;</p>
      <a mat-list-item href="Visitas"><img src="../../../assets/Icon/business-time-solid.svg"  width="60" height="50"/></a>
      <p>&nbsp;</p>
      <a mat-list-item href="Empresas"><img src="../../../assets/Icon/building-solid.svg"  width="60" height="50"/></a>
      <p>&nbsp;</p>
      <a mat-list-item href="Usuario"><img src="../../../assets/Icon/user-solid.svg"  width="60" height="50"/></a>
      <p>&nbsp;</p>
      <a mat-list-item href="Notificaciones"><img src="../../../assets/Icon/bell-regular.svg"  width="70" height="50"/></a>
      <p>&nbsp;</p>
      <a mat-list-item href="Accidentes"><img src="../../../assets/Icon/person-falling-burst-solid.svg"  width="60" height="50"/></a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="derecha">
    <mat-toolbar class="Topnav">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="derecha">Bienvenido</span>
    </mat-toolbar>
    <app-dashboard class="colorCenter"></app-dashboard>
  </mat-sidenav-content>
</mat-sidenav-container>
